.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 10px;
  margin-bottom: 10px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  text-decoration: none;
  font-size: 14px;
  color: #cbcfd4;
  transition: 0.3s;
}

.text:hover {
  color: #d7b399;
}
