.section {
  background: #212121;
  text-align: center;
  color: #ffffff;
}

.container {
  padding: 80px 0 69px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.bold_text {
  font-family: Roboto;
  letter-spacing: 0.02em;
}

.text {
  font-size: 21px;
  font-weight: 300;
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 28px;
  }
}
