.section {
  max-width: 1110px;
  width: 100%;
  max-height: 472px;
  min-height: 472px;
  height: 100vh;
  margin: 0 auto;
  margin-bottom: 150px;
  display: grid;
  grid-template-areas:
    '. . . .'
    '. . . .';
}

@media screen and (max-width: 1000px) {
  .section {
    margin-bottom: 100px;
    max-height: 944px;
    min-height: 944px;
    height: 108vh;
    background: #f9f6f1;
    justify-items: center;
    grid-template-areas:
      '. .'
      '. .'
      '. .';
  }
}

@media screen and (max-width: 525px) {
  .section {
    margin-bottom: 50px;
    max-height: 1888px;
    min-height: 1888px;
    height: 100vh;
    grid-template-areas:
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.'
      '.';
  }
}
