.section {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 36px;
  letter-spacing: 0.04em;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  margin: 100px 0;
}

.btn {
  border: 1px solid #d7b399;
  background: #d7b399;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 18px 35px 17px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #212121;
}

.btn:active {
  background: #d7b399;
}

@media screen and (max-width: 1049px) {
  .container {
    margin: 50px 0;
    display: grid;
    justify-content: space-evenly;
    grid-template-areas:
      '. .'
      '. .';
  }

  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 523px) {
  .container {
    grid-template-areas:
      '.'
      '.'
      '.'
      '.';
  }
}
